.card {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    width: 250px;
    position: relative;
    /* overflow: hidden; */
}

.card-header {
    height: 100px;
    background: green;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}

.card-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;

}

.card-text {
    margin-top: 40px;
    padding: 30px 30px;
    text-align: center;
}

.card-text h4 {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: normal;
}
.card-text h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.icon-excluir-container {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 1;
    background-color: #FFF;
    border-radius: 50%;
    height: 25px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.card:hover .icon-excluir-container{
    opacity: 1;
    visibility: visible;
}

.favoritar {
    margin-top: 16px;
}